#question {
	width: 70%;
	height: 50px;
	margin-left: 15%;
	margin-top: 175px;
	border-color: white;
	border-width: 1px;
}

.elemStyle {
	background-color: orange;
	border-radius: 15px;
}

.reponse {
	height: 80px;
	margin-left: 30px;	
    width: 42%;
}

.repContent{

}

.repText{
	display: flex;
    flex-direction: column;
    justify-content: center;
    float: left;
    margin: auto 25px;
    vertical-align: middle;
    height: 100%;
}

.ligne{
	margin-top: 20px; 
	display: flex;
    justify-content: space-around;
}