#question {
	width: 70%;
	height: 180px;
	margin-left: 15%;
	margin-top: 175px;
	border-color: white;
	border-width: 1px;

    font-stretch: condensed;
    font-size: 50px; 
    font-weight: bold;
}

.elemStyle {
	background-color: orange;
	border-radius: 15px;
}

.reponse {
	height: 150px;
	margin-left: 30px;	
    width: 42%;
}

.repText{
	width: 70%;
    word-wrap: break-word;
    font-stretch: condensed;
    font-size: 50px; 
    font-weight: bold;
}

.repContentStyle{
	display: flex;
    flex-direction: column;
    justify-content: center;
    float: left;
    margin: auto 25px;
    vertical-align: middle;
    height: 100%;
    font-size: 40px; 
}

#reponseUnique {
	height: 50px;
}

#txtRepUnique{
	width: 90%;
	height: 150px;
}

.ligne{
	margin-top: 20px; 
	display: flex;
    justify-content: space-around;
}

#btnSuivant, #btnPrec, #btnRep { 
    position: absolute;
    bottom: 5px;
    height: 35px;
    right: 10px;
    border-radius: 0;
    visibility: hidden;
 }

 #btnPrec {
 	right: 160px;
 }

#btnRep {
	right: 85px;
}